header h1 {
    font-size: 20px;
    color: #FFF48E;
    font-family: 'Inter', sans-serif;
    margin-top: 40px;
    margin-left: 120px;
}

.crystal-link {
    text-decoration: none;
    display: block;
}

.home {
    font-size: 10px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin-top: -35px;
    margin-left: 600px;
}

.home-link {
    text-decoration: none; 
    display: block;     
  }


.about {

    font-size: 10px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin-top: -35px;
    margin-left: 720px;
}

.about-link {
    text-decoration: none;
    display: block;
}

.portfolio {
    font-size: 10px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin-top: -35px;
    margin-left: 840px;
}

.portfolio-link {
    text-decoration: none;
    display: block;
}

.contact {
    font-size: 10px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin-top: -35px;
    margin-left: 970px;
}

.contact-link {
    text-decoration: none;
    display: block;
}


body {
    background-color: #1F1F21;
}

#hello {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    color: #FFF48E;
    margin-top: 150px;
    margin-left: 170px;
}

#name {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    margin-top: -30px;
    margin-left: 170px;

}

#caption {
    font-size: medium;
    font-family: 'Inter', sans-serif;
    color: #FFF48E;
    margin-left: 170px;
    margin-top: -20px;

}

#caption p {
    margin-bottom: -15px; 
}

#last-cap {
    font-size: medium;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    margin-left: 170px;
    margin-top: 25px;
}

.my-img {
    width: 280px;  /* Set the desired width */
    height: 280px; /* Set the desired heighst (same as width for a perfect circle) */
    border-radius: 50%; /* Makes the image a circle */
    object-fit: cover;  /* Ensures the image covers the area without stretching */
    margin-left: 750px;
    margin-top: -250px;
    border: #FFF48E, 5px solid;
}